form {
    background-color: blue;
    text-align: center;
    margin-bottom: -4%;
    padding-bottom: 10%;

}
.col-sm-5{
    margin-left: 30%;
    padding: 4.9%; 

}

.col-sm-5 input {    
    text-align: center;
    margin-left: 15%; 

} 
#title{
    border: blue 5px solid;
    text-align: center;
    color:rgb(172, 226, 222);
}

label {
    font-size: 25px;
    color: black;
}
img{
    float: left;
    padding: 10px 0 10px 35%; 
    height: 150px;

}
#title h1{    
    font-size: 40px;
    font-family: 'Crete Round', serif;
}
body {
    background-color: black !important;
}
.container #enlaces {
    padding: 0 0 0 0;
    background-color: blue;
    align-items: center;
}
button{
    background-color: blue;
    border: blue 2px solid;
    font-size: 20px !important;
}


#addMember {
    border: black 2px solid;
}
#buttons #addMember {

    height: 40px !important;
    width: 20%;
    margin-left: 53%; 

}
